<launch>
    <arg name="log_file" default="/tmp/robot_controller_$(eval time.strftime('%Y-%m-%d_%H-%M-%S')).log" />
    
    <node name="log_yaml_config" pkg="roslaunch" type="roslaunch-check"
          launch-prefix="bash -c 'echo; echo &quot;--- CONFIGURATION PARAMETERS from preview_controller_config.yaml ---&quot;; echo; cat $(find robot_controller)/config/preview_controller_config.yaml; echo; echo &quot;--- END OF CONFIGURATION ---&quot;; echo; echo &quot;--- STARTING NODE LOGS ---&quot;; echo &quot; &quot; 2>&1 | tee $(arg log_file)'"
    />

    <rosparam file="$(find robot_controller)/config/preview_controller_config.yaml" command="load" />  
    <node pkg="robot_controller" type="control_node" name="controller_node" output="screen" 
          launch-prefix="bash -c '$0 $@ 2>&1 | tee -a $(arg log_file)'" />

    <!-- Arguments for the rosbag recorder -->
    <arg name="bag_prefix" default="/tmp/robot_controller_data" />
    <arg name="enable_recording" default="true" />
    
    <node if="$(arg enable_recording)" pkg="rosbag" type="record" name="rosbag_recorder" 
          args="-o $(arg bag_prefix) 
                /local_costmap /robot_pose /atrv/odom /atrv/cmd_vel /lookahead_point /planned_path /debug/cross_track_error /debug/heading_error /debug/lookahead_heading_error /debug/current_v /debug/current_omega /debug/path_curvature /tf /detected_obstacles"
          output="screen" 
          launch-prefix="bash -c '$0 $@ 2>&1 | tee -a $(arg log_file)'" />
</launch>