<?xml version="1.0"?>

<launch>
    <include file="$(find emlid_reach_ros)/launch/reach_ros.launch">
    	<arg name="port" default="/dev/ttyACM0"/>
    </include>
    <include file="$(find vectornav)/launch/vectornav.launch" />
    <include file="$(find pluto)/launch/pluto.launch" />

    <node pkg="milestone1" type="publishers.py" name="publishers"/>
    
    <node pkg="milestone1" type="send_goal.py" name="goal_publisher"/>
    
    <node pkg="rosbag" type="record" name="motion_rosbag"/>


</launch>
